<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>example1</servlet-name>
        <jsp-file>/pages/example1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>example1</servlet-name>
        <url-pattern>/example1</url-pattern>
    </servlet-mapping>

    <!-- НАСТРОЙКА АУТЕНТИФИКАЦИИ BASIC -->
    <!-- Настройка ролей-->
    <login-config><auth-method>BASIC</auth-method></login-config>
    <security-role><role-name>Admin</role-name></security-role>
    <security-role><role-name>Member</role-name></security-role>
    <security-role><role-name>Guest</role-name></security-role>
    <!-- Настройка маппинга для ролей-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminPage</web-resource-name>
            <url-pattern>/chapter11/pages/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
            <role-name>Member</role-name>
        </auth-constraint>

        <!-- обеспечивает использование HTTPS -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- Настройка авторизации с помощью формы логина и пароля -->
    <!--<login-config>-->
        <!--<auth-method>FORM</auth-method>-->
        <!--<form-login-config>-->
            <!--<form-login-page>/pages/loginpage.html</form-login-page>-->
            <!--<form-error-page>/pages/errorpage.html</form-error-page>-->
        <!--</form-login-config>-->
    <!--</login-config>-->

</web-app>